.App-posts {
  position: relative;
  padding: 18px;
  -webkit-column-count: 10;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 10;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 10;
  column-gap: 10px;
  column-fill: auto;
}


.App-posts section {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  opacity: 0.9;
  padding: 6px 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

@media (max-width: 1600px) {
  .App-posts {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }
}

@media (max-width: 1200px) {
  .App-posts {
    -webkit-column-count: 5;
    -webkit-column-gap: 7px;
    -moz-column-count: 5;
    -moz-column-gap: 7px;
    column-count: 5;
    column-gap: 7px;
  }
}