.App-posts {
  top: 70px;
  position: relative;
  padding: 0 18px 100px;
  -webkit-column-count: 10;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 10;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 10;
  column-gap: 10px;
  column-fill: auto;
}

@media (max-width: 1600px) {
  .App-posts {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }
}

@media (max-width: 1200px) {
  .App-posts {
    -webkit-column-count: 5;
    -webkit-column-gap: 7px;
    -moz-column-count: 5;
    -moz-column-gap: 7px;
    column-count: 5;
    column-gap: 7px;
  }
}

@media (max-width: 770px) {
  .App-posts {
    top: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .App-posts {
    -webkit-column-count: 1;
    -webkit-column-gap: 5px;
    -moz-column-count: 1;
    -moz-column-gap: 5px;
    column-count: 1;
    column-gap: 5px;
  }
}