.App-info {
  position: absolute;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 20%;
  text-align: center;
  opacity: 0.8;
}

.App-info h2 {
  margin-bottom: 2em;
}

.App-info p {
  font-size: 1.2em;
  line-height: 1.5;
}

.App-info-continue {
  margin-top: 30px;
  display: inline-block;
  width: 350px;
  background-color: #333;
  color: #fff;
  padding: 20px 30px;
  border-radius: 30px;
}