.App-draw {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 0 30px 0px #999;
}

.App-draw-tools {

}

.App-draw-textarea {
  border: none;
  outline: none;
  font-size: 20px;
  max-width: 200px;
  max-height: 100px;
}