.App-writing {
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -150px;
  width: 330px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #aaa;
  padding: 25px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.App-writing section {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.App-writing .App-icon {
  margin-bottom: 10px;
  width: 27px;
  height: 27px;
}

.App-writing textarea {
  resize: none;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  letter-spacing: 1px;
  outline: none;
  font-size: 14px;
  width: 240px;
  height: 150px;
  border-bottom: 1px solid #ccc;
}

.App-color-refresh {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.App-writing-confirmation {
  float: right;
}

.App-color-picker-btn {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 8px;
  position: relative;
  vertical-align: top;
}

.App-color-picker-btn.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  opacity: 0.8;
}

.App-style-picker {
  margin: 10px 0 30px;
}

.App-style-picker h4 {
  margin: 5px 0;
}
