header {
  padding: 10px 30px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 15px 0px #bbb;
  text-align: center;
  background-size: 10%;
}

.App-logo {
  display: inline-block;
  width: 64px; 
}

header > section {
  text-align: right;
  position: absolute;
  right: 30px;
  top: 12px;
}

.App-header-btn {
  margin-left: 15px;
  display: inline-block;
}

@media (max-width: 770px) {
  header {
    padding: 10px 15px;
  }

  .App-logo {
    width: 48px; 
  }

  header > section {
    top: 8px;
    right: 15px;
  }
}