header {
  padding: 10px 30px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 #ccc;
}

header h1 {
  font-size: 1.5em;
  text-transform: uppercase; 
  letter-spacing: 0.75em;
  margin: 0;
  font-weight: 300;
}

header > section {
  text-align: right;
  position: absolute;
  right: 30px;
  top: 12px;
}

.App-header-btn {
  height: 24px;
  width: auto;
  margin-left: 15px;
}
