.App-post {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
}

.App-post textarea {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  max-width: 300px;
  border-bottom: 1px solid #ccc;
}

.App-post-confirmation {
  
}

.App-color-picker-btn {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 10px;
}
