.App {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.App-button-draw {
  max-width: 35px;
  width: 7vw;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.App-button-question {
  width: 25px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
  opacity: 0.5;
}
