.App {
}

img {
  width: 100%;
}

.App-button-draw {
  max-width: 35px;
  width: 7vw;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.App-button-question {
  width: 25px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.App-drawing {
  width: 100px;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
  opacity: 0.5;
}
